@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

h1 {
    font-family: 'DM Serif Display', 'Times New Roman', serif;
    font-size: 44px;
}

p {
    font-family: 'EB Garamond', 'Times New Roman', serif;
    font-size: 22px;
}